
body{
    background-color: black;
}
h1 {
    text-align: center;
    color: aliceblue;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
a{
    text-decoration: none;
    color: aliceblue;
}